@media (min-width: 1200px) {
	body{
	  min-width: 1200px;
	}
}

@media (min-width: 1440px) {
	min-width: 1440px;
}

@media (min-width: 1620px) {
	min-width: 1620px;
}

@media (min-width: 1960px) {
	min-width: 1960px;
}
