body{
  //background: url('../images/bg.jpg') repeat;
  background: grey;
  min-width: 960px;
  font-family: 'Open Sans', sans-serif;
}

#wrapper{
  #header{
	.first-section{
		@include container;
	  	@extend .clearfix;
		margin-bottom: 0.35em;
	  	.space{
		  @include grid-item;
		  @include grid-3;
		  @include alpha;
		  @media (min-width: 1200px) {
			@include grid-2;
		  }
		}

	  	.intro-box-1{
		  @include grid-item;
		  @include grid-2;
		  @media (min-width: 1200px) {
			@include grid-3;
		  }
		  height: 50px;
		  line-height: 25px;
		  p{
			color: #e1e1e2;
			font-weight: 300;
			font-size: 0.95em;
			letter-spacing: -1px;
		  }
		}

		.intro-box-2{
		  @include grid-item;
		  @include grid-2;
		  height: 50px;
		  line-height: 50px;
		  text-align: right;
		  p{
			color: #e0e0e0;
			font-weight: 300;
			font-size: 1.6em;
			letter-spacing: -1px;
			sub{
			  bottom: -1px;
			}
		  }
		}

		.intro-box-3{
		  @include grid-item;
		  @include grid-5;
		  height: 50px;
		  line-height: 50px;
		  p{
			color: #e1e1e2;
			font-weight: 300;
			font-size: 1em;
			letter-spacing: -1px;
		  }
		}
	}
	.second-section{
		@include container;
	  	@extend .clearfix;
	  	height: 75px;
		// CSS3 Background
		-moz-box-shadow: 2px 4px 0 rgba(0,1,1,.15);
		-webkit-box-shadow: 2px 4px 0 rgba(0,1,1,.15);
		box-shadow: 2px 4px 0 rgba(0,1,1,.15);
		background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSI1MCUiIHkxPSIxMDAlIiB4Mj0iNTAlIiB5Mj0iLTEuNDIxMDg1NDcxNTIwMmUtMTQlIj4KPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2JkYmRiZCIgc3RvcC1vcGFjaXR5PSIxIi8+CjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2Y1ZjVmNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgIDwvbGluZWFyR3JhZGllbnQ+Cgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIgZmlsbD0idXJsKCNoYXQwKSIgLz4KPC9zdmc+);
		background-image: -moz-linear-gradient(bottom, #bdbdbd 0%, #f5f5f5 100%);
		background-image: -o-linear-gradient(bottom, #bdbdbd 0%, #f5f5f5 100%);
		background-image: -webkit-linear-gradient(bottom, #bdbdbd 0%, #f5f5f5 100%);
		background-image: linear-gradient(bottom, #bdbdbd 0%, #f5f5f5 100%);
	  	#logo{
		  @include grid-item;
		  @include grid-5;
		  @include alpha;
		  @media (min-width: 1200px) {
			@include grid-4;
		  }
		}
	  	nav{
		  @include grid-item;
		  @include grid-7;
		  @include omega;
		  @media (min-width: 1200px) {
			@include grid-8;
		  }

		  ul{
			list-style: none;
			float: right;
			margin: 0;
			padding: 0;
			li{
				float: left;
			  	margin: 0 0em;
			  	padding: 0 2.5em;
				@media (min-width: 1200px) {
				  padding: 0 1.8em;
				}
			  	font-size: 1.2em;
			  	font-weight: 400;
			  	height: 75px;
			  	line-height: 75px;
			  	cursor: pointer;

			  a{
				color: #004b8c;
				text-decoration: none;

				&:hover{
				  color: #fff !important;
				}
			  }

			  // Hover <li>
			  &:hover{
				background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSI1MCUiIHkxPSIxMDAlIiB4Mj0iNTAlIiB5Mj0iLTEuNDIxMDg1NDcxNTIwMmUtMTQlIj4KPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwNDU4NSIgc3RvcC1vcGFjaXR5PSIxIi8+CjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwNTlhOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgIDwvbGluZWFyR3JhZGllbnQ+Cgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIgZmlsbD0idXJsKCNoYXQwKSIgLz4KPC9zdmc+);
				background-image: -moz-linear-gradient(bottom, #004585 0%, #0059a9 100%);
				background-image: -o-linear-gradient(bottom, #004585 0%, #0059a9 100%);
				background-image: -webkit-linear-gradient(bottom, #004585 0%, #0059a9 100%);
				background-image: linear-gradient(bottom, #004585 0%, #0059a9 100%);
				a{
				  color: #fff !important;
				}
			  }

			  &:first-child{
				margin-left: 0;
			  }
			  &:last-child{
				margin-right: 0;
			  }
			}
		  }
		}
	}
  }
}

/* Footer section */
#footer{
  background-image: url('../images/fbg.jpg');
  background-repeat: repeat-x;
  background-color: #005aa9;

  .line{
	border-top: 6px solid rgba(0, 0, 0, 0.35);
	position: relative;
	top: -6px;
  }

  .footer-content{
	@include container;
	position: absolute;
	bottom: 10px;
	left: 0;
	right: 0;
	border-bottom: 1px dotted rgba(211, 220, 227, 1);

	.f-first-line{
	  @extend .clearfix;
	  margin-bottom: 3em;
	  .ffl-left{
		@include grid-item;
		@include grid-5;
		@include alpha;
		p{
		  color: #d3dce3;
		  font-weight: 400;
		  font-size: 1em;
		  a{
			text-decoration: none;
			color: #d3dce3;
			border-bottom: 1px solid rgba(211, 220, 227, 0);
			@include animated-links;
			&:hover{
			  border-bottom: 1px solid rgba(211, 220, 227, 1);
			}
		  }
		}
	  }

	  .ffl-right{
		@include grid-item;
		@include grid-7;
		@include omega;
		nav{
		  float: left;
		  ul{
			list-style: none;
			margin: 0;
			padding: 0;
			li{
			  float: left;
			  margin: 0 1.9em; // Check for others media queries: TODO
			  &:first-child{
				margin-left: 0;
			  }
			  &:last-child{
				margin-right: 0;
			  }
			  a{
				text-decoration: none;
				color: #d3dce3;
				font-size: 1em;
				font-weight: 400;
				letter-spacing: -1px;
				border-bottom: 1px solid rgba(211, 220, 227, 0);
				@include animated-links;
				&:hover{
					border-bottom: 1px solid rgba(211, 220, 227, 1);
				}
			  }

			  &:hover{

			  }
			}
		  }
		}
	  }
	}

	.f-second-line{
	  @extend .clearfix;
	  margin-bottom: 1em;
	  .fsl-left{
		@include grid-item;
		@include grid-5;
		@include alpha;
		.blogo{
		  float: left;
		  position: relative;
		  top: -25px;
		  left: -5px;
		}
		p{
		  color: #d3dce3;
		  font-weight: 300;
		  font-size: 1em;
		  a{
			text-decoration: none;
			color: #d3dce3;
			border-bottom: 1px solid rgba(211, 220, 227, 0);
			@include animated-links;
			&:hover{
			  border-bottom: 1px solid rgba(211, 220, 227, 1);
			}
		  }
		}
	  }

	  .fsl-center{
		@include grid-item;
		@include grid-5;
		p{
		  color: #d3dce3;
		  font-weight: 300;
		  font-size: 1em;
		  b{
			font-size: 130% !important;
			font-weight: 400 !important;
		  }
		  a{
			text-decoration: none;
			color: #d3dce3;
			border-bottom: 1px solid rgba(211, 220, 227, 0);
			@include animated-links;
			&:hover{
			  border-bottom: 1px solid rgba(211, 220, 227, 1);
			}
		  }
		}
	  }

	  .fsl-right{
		@include grid-item;
		@include grid-2;
		@include omega;
		p{
		  color: #d3dce3;
		  font-weight: 300;

		  span{
			font-weight: 400 !important;
			font-size: 1.2em;
		  }
		  .time-l1{
			margin-left: 1.5em;
			text-align: right;
		  }
		  .time-l2{
			margin-left: 2.8em;
			text-align: right;
		  }
		  sup{
			top: -0.35em;
		  }
		  a{
			text-decoration: none;
			color: #d3dce3;
			border-bottom: 1px solid rgba(211, 220, 227, 0);
			@include animated-links;
			&:hover{
			  border-bottom: 1px solid rgba(211, 220, 227, 1);
			}
		  }
		}
	  }
	}
  }
}
